.box{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;

}

.cover img {
    width: 40vw;
    height: 70vh;
}

.content{
    /* display: flex;
    flex-direction: column; */
    /* max-width: 100vw; */
    margin-left: 100px;
}

.content h1{
    margin-top: -50px;
}

.content p{
    display:block;
}

.content div {
    margin-top: 40px;
}

table{
    width: 100%;
    height: 50%;
}

table tr {
    border: 1px solid rgb(228, 228, 228);
   
}

table tr td i{
    color: rgb(87, 186, 87);
    margin-left: 20px;
}